<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Корзина товаров</title>
    <style>
        .error {
            color: red;
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ ⤵</b>
</a>
<a href="/main/items" style="float:right;">
    <b>ГЛАВНАЯ ⤵</b>
</a>

<!-- Отображение ошибки, если есть -->
<div th:if="${error}" class="error">
    <p th:text="${error}"></p>
</div>

<!-- Отображение сообщения, если корзина пуста -->
<div th:if="${empty}" style="text-align:center;">
    <p>Корзина пуста</p>
</div>

<table style="width:70%;margin-left:auto;margin-right:auto;" th:unless="${empty}">
    <tr th:each="orderItem : ${items}">
        <td>
            <table>
                <tr>
                    <td>
                        <img width="300" height="300" th:src="${orderItem.item.getImgPath()}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${orderItem.item.getTitle()}"></b>
                    </td>
                    <td>
                        <b th:text="${orderItem.item.getPrice()}+' руб.'"></b>
                    </td>
                </tr>
                <tr><td th:text="${orderItem.item.getDescription()}"></td></tr>
                <tr>
                    <td>
                        <form th:action="${'/cart/items/'+orderItem.item.getId()}" method="post">
                            <button name="action" value="minus">-</button>
                            <span th:text="${orderItem.getCount()}"></span>
                            <button name="action" value="plus">+</button>
                            <button name="action" value="delete" style="float:right;">✗</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <b th:text="'Итого: '+${total}+' руб.'"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <b th:text="'Текущий баланс: '+${balance}+' руб.'"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <form action="/buy" method="post" th:if="${canPay}">
                <button>Купить</button>
            </form>
            <p th:unless="${canPay}" style="color: red;">
                Недостаточно средств на балансе для оплаты!
            </p>
        </td>
    </tr>
</table>
</body>
</html>